.jumbotron {
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-image: url(http://images.akamai.steamusercontent.com/ugc/595890203982443538/8F2144348A8A541CAEF4AABB4E5C651E2DDE8984/);
  background-size: cover;
  background-position: center;
}

.jumbotron h1 {
    color: #fff !important;
}

.jumbotron p {
    color: #fff;
}

img {

  margin: 0 auto;
}

#home-carousel {
  background-color: grey;
}

.wrapper {
  text-align: center;
}

* {
  font-family: "Raleway", sans-serif;
}

#go {
  background-color: #6ED3CF;
  color:white;
  font-family: "Raleway" sans-serif;
  font-weight: 200;
  border-style: none !important;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {

  text-align: center;

}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  width: 100%;
}

.footer p {

  text-align: center;

}

#steamtext {
  font-size: 12;
  text-align: center;
  color:white;
}
