* {
  font-family: "Raleway" sans-serif !important;
}

.formwrapper {
  text-align: center;
}

#submit {
  border-style: none;
  background-color: #6ED3CF;

}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  width: 100% !important;
}

.footer p {
  text-align: center;
}

.footer a {
  text-align: center;
}

#steamtext {
  font-size: 12;
  text-align: center;
  color:white;
}
