* {
  font-family: "Raleway" sans-serif;"
}

.supporting .col {
  float:left;
  text-align: left;
}

.supporting h3 {
  text-transform: uppercase;
}

#buhwow {
  float:right !important;
  text-align: left;
}
